.main-body {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
}

.main-body__item {
  display: flex;
  width: 100%;
}

.main-body__slider {
  width: 1500px;
  margin: 20px;
}
