.navi-bar {
  display: flex;
  flex: 1;
  justify-content: space-between;
  padding: 20px;
}

.navi-bar__items-container {
  display: flex;
  flex-wrap: nowrap;
}

.navi-bar__logo {
  margin-right: 30px;
}

.navi-bar__item {
  margin: 0 10px;
}
