.add-book-cover,
.book-cover {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 150px;
  background-color: #c2e7ff;
  border-bottom-left-radius: 10px;
  background-size: cover;
  padding: 0;
  background-position: center;
}

.book-table-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* Add book */
.add-book-cover {
  transition: background-color 0.2s, transform 0.2s;
}

.add-book-cover:active {
  filter: brightness(0.98);
  border-radius: 10px;
  transform: scale(0.95);
}

.add-book-cover button {
  width: 100%;
}

.check-book {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  overflow: hidden;
  border-radius: 10px;
  padding: 10px;
  background-color: #ebeff8;
}
.book-list__search-results,
.check-book__search-results {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.check-book__search-results {
  height: 325px;
}
