.dropdown-container {
  position: relative;
}

.dropdown__btn {
  display: flex;
  align-items: center; /* Добавлено */
  cursor: pointer;
  overflow: hidden;
}

.dropdown__icon-wrapper {
  display: inline-block;
  transition: transform 0.15s ease-in-out;
  line-height: 0; /* Добавлено */
}

.dropdown__btn.open .dropdown__icon-wrapper {
  transform: rotate(90deg);
}

.dropdown__title {
  margin-top: 1px;
  white-space: nowrap; /* Добавлено */
  overflow: hidden; /* Добавлено */
}

.dropdown {
  position: absolute;
  background-color: #c2e7ff;
  display: flex;
  flex-direction: column;
  border-radius: 10px;

  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0s linear 0.3s;
}

.dropdown.open {
  opacity: 1;
  visibility: visible;
  transition-delay: 0s;
}

.dropdown__item {
  display: flex;
  transition: color 0.2s;
  justify-content: space-between;
}

.dropdown__item span {
  margin-top: 3px;
}

.dropdown__item--options-container {
  display: flex;
}

/* .link:hover {
  color: #007aff !important;
} */
