/* Container */
.content-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 0px 20px 20px 20px;
  height: 100%;
}

.content-container__item {
  display: flex;
  flex: 1;
  width: 100%;
}

.content-container__header {
  display: flex;
  margin-bottom: 20px;
}

.content-container__header-title {
  padding: 0;
  margin: 0;
}

/* Card */
.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.card__header-title {
  margin: 0;
}

.card__header-buttons {
  display: flex;
}

.card__body {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.card__body-container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.card__body-container--item {
  display: flex;
  padding-bottom: 20px;
  justify-content: space-between;
}

.card__body-buttons {
  display: flex;
}

.card__body-buttons button {
  margin-left: 5px;
}

/* Table */
.table-card {
  display: flex;
  background-color: #bad3f0;
  border-radius: 10px;
}

.table {
  table-layout: fixed;
  width: 100%;
}

.table__header {
  background-color: #bad3f0;
  border-radius: 10px;
}

.table__body {
  width: 100%;
}

.table__row {
  display: table-row;
}

.table__row-item {
  background-color: #edf5fb;
  padding: 0;
}

.table__row-item:first-child {
  background-color: #edf5fb;
  border-bottom-left-radius: 10px;
}

.table__header-item:last-child {
  border-top-right-radius: 10px;
}

.table__header-item:first-child {
  border-top-left-radius: 10px;
}

.table__row:last-child .table__row-item:last-child {
  border-bottom-right-radius: 10px;
}

.table__header-item {
  font-weight: bold;
  text-align: left;
  padding: 10px;
}

.book-cover__span {
  padding-bottom: 7px;
}

.table__row-item--content {
  flex: 1;
  overflow: auto;
  max-height: 150px;
  padding: 0 10px;
}

.table__row-item--content-inner,
.table__header-item--content {
  display: flex;
  padding: 3.5px 0px;
  justify-content: space-between;
  align-items: flex-start;
}

.table__row-item--content-inner span {
  margin-top: 1px;
  word-wrap: break-word;
  word-break: break-word;
}

.table__row-item--content-inner button {
  align-self: flex-end;
}

/* Main button */
button {
  border: none;
  outline: none;
  background: none;
  font-family: "Lexend", sans-serif !important;
  cursor: pointer;
}

.main-button {
  display: flex;
  border-radius: 10px;
  padding: 3px 7px;
  font-size: 16px;
  transition: background-color 0.2s, transform 0.2s;
  background-color: #c2e7ff;
  opacity: 0;
  transition: opacity 0.1s ease-in-out, background-color 0.1s, transform 0.1s;
}

.main-button.visible {
  cursor: pointer;
  opacity: 1;
  transition-delay: 0.1s;
}

.main-button:active {
  filter: brightness(0.98);
  border-radius: 10px;
  transform: scale(0.95);
}

.main-button span {
  margin-top: 1px;
  font-family: inherit;
}

.main-button h4 {
  padding: 0;
  margin-top: 1px;
  margin-bottom: 0;
  font-family: inherit;
}

/* Link button */
.link-button {
  display: flex;
  border-radius: 10px;
  padding: 3px 7px;
  font-size: 16px;
  opacity: 0;
  transition: opacity 0.1s ease-in-out, background-color 0.1s, transform 0.1s;
}

.link-button.visible {
  cursor: pointer;
  opacity: 1;
  transition-delay: 0.1s;
}

.link-button.approve:hover {
  border-radius: 10px;
  background-color: #c2e7ff;
}

.link-button.cancel {
  color: #ff0000;
}

.link-button.cancel:hover {
  background-color: #ffdbdb;
  border-radius: 10px;
}

.link-button:active {
  filter: brightness(0.98);
  border-radius: 10px;
  transform: scale(0.95);
}

.link-button span {
  margin-top: 1px;
  font-family: inherit;
}

/* link */
.link {
  text-decoration: none;
}

.link.inactive {
  color: inherit;
}

.link.active {
  color: #007aff;
}

.link:active {
  filter: brightness(0.98);
  transform: scale(0.99);
}

/* Date selector */
.date-selector {
  font-family: "Lexend", sans-serif;
  border-radius: 10px;
  border: 2px solid #86c1ff;
  padding: 3px 7px;
}
