.input-container {
  position: relative;
  margin: 20px 0;
}

.input-field {
  width: 100%;
  padding: 10px;

  border-radius: 10px;
  outline: node;
  transition: 0.5s;
}

.input-field:valid ~ .input-label,
.input-field:focus ~ .input-label {
  background: #007aff;
  border-radius: 10px;
  transform: translateX(10px) translateY(-7px);
  font-size: 12px;
  padding: 0 10px;
  letter-spacing: 2px;
}

.input-field:focus {
  border: 1px solid #007aff;
}

.input-label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  pointer-events: none;
  font-size: 16px;
  color: #aaa;
  transition: all 0.2s ease-out;
}
