.main-container {
  position: relative;
  min-height: 100vh;
  background-color: #f6f8fc;
}

.main-container__header {
  position: fixed;
  right: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  min-height: 50px;
  background-color: #f6f8fc;
  z-index: 9999;
}

.inner-container {
  position: relative;
  top: 50px;
  padding-top: 30px;
  height: calc(100vh - 50px - 30px);
}

.inner-container__aside {
  position: fixed;
  width: 230px;
  height: 100%;
}

@media screen and (max-width: 767px) {
  .inner-container__aside {
    transform: translateX(-100%);
  }

  .inner-container__content {
    padding-left: 0;
  }
}

.inner-container__content {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.inner-container__content.with-aside {
  padding-left: 230px;
}
